[submodule "libs/libpebble3"]
	path = libs/libpebble3
	url = https://github.com/yoxcu/libpebble3.git
	branch = stoandl-rebased
[submodule "examples/extensions/findphone"]
	path = examples/extensions/findphone
	url = https://github.com/yoxcu/findphone.git
[submodule "examples/extensions/matrix"]
	path = examples/extensions/matrix
	url = https://github.com/yoxcu/stoandl-matrix.git
